header {
  background-color: #b8daff;
  height: 70px;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999999;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .logo-name {
    font-size: 22px;
    font-weight: 500;
  }  
}
